h1{
  margin: 1%;
  background-color: rgb(95, 117, 131);
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 2rem;
  box-shadow:0 0 5px black;
  font-family: sans-serif;
}
.container{
  list-style: none;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  flex-grow: 2;
}
.container2{
  list-style: none;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 10px;
}
.boton{
  list-style: none;
  padding: 0.1rem 2rem;
  margin: 1rem;
  border-radius: 5px;
  box-shadow:0 0 5px black;
}
.cardCentrada{
  list-style: none;
  padding: 1px 1rem;
  margin: 1px;
}

.counter{
  list-style: none;
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 1px 1rem;
  margin: 1px;
}
.counter-title{
  list-style: none;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1px 1rem;
  margin: 1px;
}
.counter-container{
  padding: 1rem;
  margin: 1rem;
  size:10px;
  border-radius: 5px;
  box-shadow:0 0 5px black;
  box-sizing:content-box;
}
