.main-nav{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
h1{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
p{
  padding: 3rem;
}
