.counter-title{
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1px 1rem;
    margin: 1px;
}
.counter-container{
    padding: 1rem;
    margin: 1rem;
    size:11px;
    border-radius: 5px;
    box-shadow:0 0 5px black;
    box-sizing:content-box;
}
.counter{
    list-style: none;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 1px 1rem;
    margin: 1px;
}